.app.light {
  --bg-color: #e8e8ea;
  --bg-color-inverted: #1b1b1b;
  --primary-color: #1b1b1b;
  --primary-color-inverted: #e8e8ea;
  --secondary-color: #157439;
  --secondary-color-active: #2cb862;
  --secondary-color-inverted: #a14300;
  --secondary-color-inverted-active: #ff6b00;
}
