:root {
    --bg-color: #000;
    --bg-color-inverted: #e2e2e2;
    --primary-color: #e2e2e2;
    --primary-color-inverted: #000;
    --secondary-color: #ff6b00;
    --secondary-color-active: #a14300;
    --secondary-color-inverted: #7ac041;
    --secondary-color-inverted-active: #366410;
}
