:root {
  --bg-color: #1b1b1b;
  --bg-color-inverted: #e2e2e2;
  --primary-color: #e2e2e2;
  --primary-color-inverted: #1b1b1b;
  --secondary-color: #ff6b00;
  --secondary-color-active: #a14300;
  --secondary-color-inverted: #7ac041;
  --secondary-color-inverted-active: #366410;
}
