%link {
  text-decoration: none;
  transition: all .4s;
  position: relative;

  &.primary {
    color: var(--primary-color);
  
    &:hover {
      color: var(--secondary-color);
    }
  
    &:active {
      color: var(--secondary-color-active);
    }
  }

  &.inverted {
    color: var(--primary-color-inverted);
  
    &:hover {
      color: var(--secondary-color-inverted);
    }
  
    &:active {
      color: var(--secondary-color-inverted-active);
    }

    &::after {
      background-color: var(--secondary-color-inverted);
    }
  }

  &:hover {
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -2px;
      left: 0;
      height: $lineWidthS;
      background-color: var(--secondary-color);
      animation: blink 1s forwards infinite;
      
    }
  }

}

.AppLink {
  position: relative;

  > .link {
    @extend %link;
  
    position: relative;
  }

  
  &:not(._underline) > .link::after {
    content: none;
  }

  > .bomb {
    position: absolute;
    top: 0;
    left: -50px;
    animation: bomb .75s forwards infinite;
    display: none;
  }

  > .bomb:last-child {
    left: auto;
    right: -50px;
  }
  
  &._size_s {
    font: var(--font-m);

    > .bomb {
      width: 24px;
      height: 24px;
    }
  }
  
  &._size_m {
    font: var(--font-l);

    > .bomb {
      width: 32px;
      height: 32px;
    }
  }
  
  &._size_l {
    font: var(--font-xl);

    > .bomb {
      width: 40px;
      height: 40px;
    }
  
    > .link:hover {
      &::after {
        bottom: -8px;
        height: $lineWidthM;
      }
    }
  }

  &._bombed:hover {
    > .bomb{
      display: block;
    }

    > .link::after{
      content: none;
    }
  }

}


@keyframes blink {
  0% {
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

@keyframes bomb {
  0% {
    transform: scale(.9);
  }
  
  50%{
    transform: scale(1.15);
  }
  
  100%{
    transform: scale(.9);
  }
}
