.Footer {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.telegramTitle {
  @media (max-width: 600px) {
    display: none;
  }
}

.flex {
  @media (max-width: 600px) {
    justify-content: center;
  }
}



