.ProfileView {
  > .avatarContainer {
    padding: 5%;
    box-sizing: border-box;
    overflow: hidden;
    width: 200px;
    height: 200px;
    outline: 3px solid var(--primary-color);

    > .avatar {
      width: auto;
      height: 100%;
    }
  }

  > .infoContainer {
    font: var(--font-l);
  }

}