.Dropdown {
  .menu {
    position: absolute;
    z-index: 10000;
    min-width: 100%;
    background: var(--bg-color);
    outline: none;
    color: var(--primary-color);
    border: $lineWidthM solid var(--primary-color);
  }
  
  .item{
    padding: 10px 20px;
    white-space: nowrap;
    border: none;
    outline: none;
    background: none;
    color: var(--primary-color);
  }

  .disabled {
    opacity: 0.7;
  }

}