@import "./styles/fonts";
@import "./styles/reset";
@import "./styles/variables/global";
@import "./styles/themes/normal";
@import "./styles/themes/light";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  transition: background-color .2s;
}

.content-page {
  display: flex;
  flex-flow: column;
}

*::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 2px solid var(--primary-color);  /* padding вокруг плашки */
}

