.Navbar {
  > .container {
    // @include appContainer;

    height: $headerHeight;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    > .switchers {
      grid-column: 1 / 3;

      > *:not(:last-child) {
        margin-right: 12px;
      }
    }
    
    > .links {
      grid-column: 3 / 11;
      justify-self: center;
    }
    
    > .user {
      grid-column: 11 / 13;
    }
  }
}
