.Navbar {
  width: 100%;
  border-bottom: $lineWidthM solid var(--primary-color);
  
  > .container {
    @include appContainer;

    height: $headerHeight;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    > * {
      display: grid;
      align-items: center;
    }
  
    > .logo {
      grid-column: 1 / 3;
      justify-content: flex-start;
    }
    
    > .links {
      grid-column: 3 / 11;
      justify-content: center;
    }
    
    > .switchers {
      grid-column: 11 / 13;
      justify-content: flex-end;
    }
  }
}
