.Page {
  flex-grow: 1;

  // height: calc(100vh - #{$headerHeight} - 4px);
  // overflow-y: auto;
  flex-shrink: 100;
  margin-top: 40px;
  margin-bottom: 40px;
}

.trigger {
  height: 20px;
  margin: 10px;
}
