@mixin appContainer($padding: true) {
  margin: 0 auto;
  max-width: $appMaxWidth;
  width: 100%;
  position: relative;

  @if $padding {
    padding-left: $appSidePaddingDesktop;
    padding-right: $appSidePaddingDesktop;
  }
}