.ArticlesFilters {
  width: 100%;
  display: grid;
  grid-template-areas: "sort view" "search search";
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  margin-bottom: 20px;

  > .view {
    grid-area: view;
    margin-left: auto;
  }

  > .sortWrapper {
    grid-area: sort;
  }

  > .search {
    grid-area: search;
  }
}