// Размеры
$lineWidthS: 2px;
$lineWidthM: 4px;
$lineWidthL: 6px;

// ***** APP *****
$appMaxWidth: 1440px;
$appSidePaddingDesktop: 40px;

// $appSidePaddingMobile: 5*$u
$appAnimationSpeed: .2s;
$headerHeight: 80px;
$footerHeight: 48px;

// --navbar-height: 50px;

// --sidebar-width: 300px;
// --sidebar-width-collapsed: 80px;

// Z indexes
$zIndexModals: 10;