@import "@/shared/ui/AppLink/AppLink.module";

.link {
  color: inherit;

  @extend %link;

  &:hover {
    color: var(--secondary-color);
  }

  &:active {
    color: var(--secondary-color-active);
  }
  
  &.current {
    color: var(--secondary-color);
    pointer-events: none;
  }

}


