.Code {
  border: 1px solid var(--primary-color);
  padding: 20px;
  position: relative;
  background: var(--code-bg);
  overflow: auto;
  font: var(--font-l)
}

.copyBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.copyIcon path {
  stroke: var(--primary-color);
}

.copyBtn:hover {
  .copyIcon path {
    stroke: var(--secondary-color);
  }
}

.copyBtn:active {
  .copyIcon path {
    stroke: var(--secondary-color-inverted);
  }
}
