@import "../../styles/fonts";
@import "../../styles/reset";
@import "../../styles/variables/global";
@import "../../styles/themes/normal";
@import "../../styles/themes/light";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  transition: background-color .2s;
}


.app-content {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.container {
  @include appContainer;
}


header {
  width: 100%;
  border-bottom: $lineWidthM solid var(--primary-color);
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
}

*::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 2px solid var(--primary-color);  /* padding вокруг плашки */
}

