.game-header {
  display: flex;
  justify-content: space-around;
  color: var(--primary-color);
  margin: 15px 0;

  & span {
    font-size: 32px;

    &.status {
      &.victory{
        color: var(--success-color);
      }

      &.defeat{
        color: var(--red-dark);
      }
    }
  }
}
