.Logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.image {
  height: 1em;
  margin-right: 12px;
}

.text {
  white-space: nowrap;
  line-height: 1em;
}

.textBig {
  font-size: 100px;
  transform: translateX(-10%);
}

.textSmall {
  font-size: 50px;
  margin-top: 24px;
  transform: translateX(30%);
}

@media (max-width: 650px) {
  .textBig {
    font-size: 64px;
  }

  .textSmall {
    font-size: 32px;
  }

}