.gameContent {
  min-height: 704px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  > .contentWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    & p {
      font-size: 38px;
      color: var(--primary-color);
    }
  }
}
